* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
section {
  padding: 128px 16px;
}
.subtitle {
  text-align: center;
  font-size: 18px;
  margin: 18px 0;
}
.main_header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: white;
  padding: 8px;
  z-index: 9;
}
.main_header a {
  color: black;
  font-size: 12px;
  letter-spacing: 3px;
  display: inline-block;
  padding: 5px;
}
.main_header a:hover {
  background-color: #ccc;
  color: black;
}
.main_header ul {
  display: flex;
}
.home_section {
  background-position: center;
  background-size: cover;
  background-image: url(https://www.w3schools.com/w3images/mac.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  color: white;
}
.home_section .section_1 {
  padding: 48px;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
}
.home_section .section_1 h1 {
  font-size: 64px;
}
.home_section .section_1 p:last-child {
  margin: 15px;
}
.home_section .section_1 a {
  color: black;
  background-color: white;
  font-size: 12px;
  margin-top: 16px;
  padding: 12px 24px;
}
.home_section .section_1 a:hover {
  background-color: #ccc;
  color: black;
}
.home_section .section_2 {
  padding: 24px 48px;
  color: #757575;
  font-size: 18px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.about_company .about_head > h3 {
  text-align: center;
  font-size: 24px;
  margin: 18px 0;
}
.about_company .about_icons {
  margin-top: 64px;
  width: 24.99999%;
  float: left;
  text-align: center;
}
.about_company .about_icons > i {
  font-size: 64px;
}
.about_company .about_icons > p:last-child {
  font-size: 15px;
  margin: 15px 0;
}
.about_work {
  color: black;
  background-color: #f1f1f1;
  padding: 128px 16px;
  display: flex;
}
.about_work div {
  width: 49.9999%;
  padding: 0 8px;
}
.about_work img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}
.about_work h3 {
  margin: 10px 0;
}
.about_work p {
  margin: 15px 0;
  font-size: 15px;
  font-weight: 400px;
}
.about_work a {
  color: white;
  background-color: black;
  padding: 8px 16px;
  display: inline-block;
}
.about_work a:hover {
  color: black;
  background-color: #575757;
}
